numpy
pandas
matplotlib
scipy

sklearn
# bayesian-optimization
torch
simple-pid
sshkeyboard
gym

RPi.GPIO
pmw3901

# setting up spi ports:
#   sudo nano /boot/config.txt
#   uncomment line "dtparam=spi=on"
