numpy
pandas
matplotlib
scipy

sklearn
torch
simple-pid
keyboard
sshkeyboard
gym
vizdoom

RPi.GPIO
pmw3901
pyserial
PyGetWindow

# TODO in pmw3901 lib updated __init__.py: https://github.com/pimoroni/pmw3901-python/pull/16

# setting up spi ports:
#   sudo nano /boot/config.txt
#   uncomment line "dtparam=spi=on"

# set up pulseaudio for audio over wifi:
#   https://raspberrypi.stackexchange.com/questions/11735/using-pi-to-stream-all-audio-output-from-my-pc-to-my-stereo
